<h1>Write an Article</h1>

<form action="http://localhost:3000/articles"  method="post" enctype="application/x-www-form-urlencoded">
	<label name="name">Title</label>
		<input name="title" type="text" class="POST-title" placeholder="CLICK THIS"><br>
	<label name="POST-author">Author</label>
		<input name="author" type="text" class="POST-author" placeholder="Me"><br>
	<label for="POST-inventory">Body</label>
		<input name="body" type="text" class="POST-body" placeholder="lorem ipsum..."><br>
	<button type="submit">Submit</button>
</form>
