<h1>PRODUCTS</h1>

{{#each productList}}
<div class="productList">
	<p>Name: {{product_name}}</p>
	<p>Price: {{price}}</p>
	<p>Inventory: {{inventory}}</p>
	<form action="http://localhost:3000/products/{{id}}/edit" method="get" enctype="application/x-www-form-urlencoded"><button>Edit This Product</button></form>
</div>
{{/each}}