<h1>Create a Product</h1>

<form action="http://localhost:3000/products"  method="post" enctype="application/x-www-form-urlencoded">
	<label name="name">Product Name</label>
		<input name="name" type="text" class="POST-name" placeholder="i.e. Pizza"><br>
	<label name="POST-price">Price</label>
		<input name="price" type="text" class="POST-name" placeholder="i.e. $5"><br>
	<label for="POST-inventory">Inventory</label>
		<input name="inventory" type="text" class="POST-name" placeholder="i.e. 1000"><br>
	<button type="submit">Submit</button>
</form>

