{{!-- display info based on product id --}}

{{#if productId}}
	<div class="productId">
		<p>Name: {{productId.name}}</p>
		<p>Price: {{productId.price}}</p>
		<p>Inventory: {{productId.inventory}}</p>
	</div>
{{else}}
	<p>oops...</p>
{{/if}}